#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

source "Kconfig.zephyr"

rsource "../lib/Kconfig"

menu "Enhanced ShockBurst: Receiver"

config APP_LOG_LEVEL
	int "Log level for the ESB sample"
	default 4

endmenu
