/	{
	/delete-node/ leds;

	leds0 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED0";
		led0: led_0 {
			status = "okay";
			gpios = <&gpio0 2 0>;
			label = "Green LED 1";
		};
	};

	leds1 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED1";
		led1: led_1 {
			gpios = <&gpio0 3 0>;
			label = "Green LED 2";
		};
	};

	leds2 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED2";
		led2: led_2 {
			gpios = <&gpio0 4 0>;
			label = "Green LED 3";
		};
	};

	leds3 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED3";
		led3: led_3 {
			gpios = <&gpio0 5 0>;
			label = "Green LED 4";
		};
	};

	dbgs {
        compatible = "gpio-leds";
        dbg0: dbg_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
            label = "Debug 0";
        };
        dbg1: dbg_1 {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
            label = "Debug 1";
        };
        dbg2: dbg_2 {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "Debug 2";
        };
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		pwm-led0 = &pwm_led0;
		sw0 = &button0;
		sw1 = &button1;
		sw2 = &button2;
		sw3 = &button3;
		bootloader-led0 = &led0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
		dbg0 = &dbg0;
		dbg1 = &dbg1;
		dbg2 = &dbg2;
	};

};

/* Enable high drive mode for the SPI3 pins to get a square signal at 8 MHz */
&spi3_default {
	group1 {
		nordic,drive-mode = <NRF_DRIVE_H0H1>;
	};
};
