#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

source "Kconfig.zephyr"

rsource "../lib/Kconfig"

menu "Enhanced ShockBurst: Receiver"

config APP_LOG_LEVEL
	int "Log level for the ESB sample"
	default 4

endmenu

menu "Radio Ramp up"

config RADIO_FAST_RAMP
	bool "Radio fast ramp up"
	default y
	
endmenu